/* Google Font 'Open Sans' */
/* Light => font-weight: 300 */
/* Normal => font-weight: 400 */
/* Semi Bold => font-weight: 600 */
/* Bold => font-weight: 700 */

body
{
	color: #e5e5e5;
	font-family: 'Open Sans';
	font-weight: 300;
}

body a:hover
{
	color : #ff5b0a;
}

h3 
{
	font-family: 'Open Sans Condensed';
	font-weight: 300;
	line-height: 1.2;
}

.content
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: 300;
}

.title-block
{
	text-transform: uppercase;
}

/* Pour les menus */
ul.nav li
{
	font-family: 'Open sans condensed';
	font-weight: 300;
}

/* Pour les filtres du Portfolio */
#TzContent #tz_options .option-combo a {
background-color: rgb(7, 7, 7);
color: rgb(153, 153, 153);
border: none;
box-shadow: none;
margin-right: 10px;
padding: 8px 15px 8px 15px;
text-transform: capitalize;
text-decoration: none;
border-radius: 0;
-moz-transition: all 200ms linear 0s;
-webkit-transition: all 200ms linear 0s;
-o-transition: all 200ms linear 0s;
}

#TzContent #tz_options .option-combo a:hover {
background-color: rgb(229, 229, 229);
color: rgb(7, 7, 7);
}

.tz_portfolio_image:hover span.icon_image,
.tz_portfolio_gallery:hover span.icon_gallery,
.tz_portfolio_video:hover span.icon_video,
.element .TzInner:hover .TzPortfolioDescription,
.element .TzInner:hover .bg-item,
.TzElement .TzInfo,
.TzElement:hover .TzInfo
{
    -moz-transition: all 200ms linear 0s;
    -webkit-transition: all 200ms linear 0s;
    -o-transition: all 200ms linear 0s;
}

a.bg-item
{
	text-decoration: none;
}

/* Pour l'affichage du portfolio */
/* Lignes 663 à 759 */
.TzElement{

}
.element{
    background:none;
}
div#TzContent .tz_item .TzInner
{
    padding:0;
    margin: 0  6px 6px 0;
    border:none;
    /*box-shadow: 2px 2px #B9B9B9;*/
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.element .TzInner:hover .TzPortfolioMedia img{
    transform:scale(1.5);
    -moz-transition: all 300ms linear 200ms;
    -webkit-transition: all 300ms linear 200ms;
    -o-transition: all 300ms linear 200ms;
}
.element .TzInner .TzPortfolioMedia img{
    -moz-transition: all 300ms linear 200ms;
    -webkit-transition: all 300ms linear 200ms;
    -o-transition: all 300ms linear 200ms;
}
.element .TzInner:hover .TzPortfolioMedia span.icon_gallery,
.element .TzInner:hover .TzPortfolioMedia span.icon_video{
	opacity:1;
    filter:alpha(opacity=100);
}
#TzContent{
    margin-left: 4px;
    width:auto;
}
div#TzContent .tz_item .TzInner .TzPortfolioMedia,
div#TzContent .landscape_field .TzInner .TzPortfolioMedia
{
    height:212px !important;
    overflow: hidden;
}
div#TzContent .tz_feature_item .TzInner .TzPortfolioMedia,
div#TzContent .portrait_field .TzInner .TzPortfolioMedia{

    height:427px !important;
    overflow: hidden;
}


div#TzContent .tz_item .tz_portfolio_image,
div#TzContent .tz_item .tz_portfolio_image_gallery,
div#TzContent .tz_item .tz_portfolio_video{
    margin:0;
    height:100%;
}
#TzContent .tz_item .TzPortfolioDescription{
    position: absolute;
    top:40%;
    left:0;
    bottom: auto;
    width: 100%;
    text-align:center;
    opacity: 0;
    filter:alpha(opacity=0);
    z-index: 10;
    padding: 0px;
}
.bg-item{
    background: #000;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
    filter:alpha(opacity=0);
    position: absolute;
    z-index: 0;
    -moz-transition: all 200ms linear 0ms;
    -webkit-transition: all 200ms linear 0ms;
    -o-transition: all 200ms linear 0ms;
}
.element .TzInner:hover .TzPortfolioDescription,
.element .TzInner:hover .icon_image{
    opacity: 1 !important;
    filter:alpha(opacity=100);

}
.element .TzInner:hover .bg-item{
    opacity: 0.75;
    filter:alpha(opacity=75);
}
.element .TzPortfolioMedia img{
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    max-width:none;
}
.TzArticleMedia img{
    width:100%;
}

/* ligne 945 à 975 */
.TzPortfolioDescription{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
#TzContent .TzPortfolioDescription h3.TzPortfolioTitle a,
.TzElement .TzInfo h3.TzTitle span{
    font-size: 18px;
    color:#ffffff;
    cursor: inherit;
    text-transform: uppercase;
    text-shadow: 0px 2px 3px #000;
    font-weight: 300;
    text-decoration: none;
}
#TzContent .tz_feature_item .TzPortfolioDescription h3.TzPortfolioTitle a,
#TzContent .landscape_field .TzPortfolioDescription h3.TzPortfolioTitle a{
    font-size: 18px;
}
#TzContent .TzPortfolioDescription span.btn{
    background:none;
    box-shadow: none;
    border:none;
    text-shadow: none;
    color:#fff;
    padding:0;
}
#TzContent .TzPortfolioDescription  h3.TzPortfolioTitle{
    margin:0;
    line-height: 25px;
    padding: 10px 15px 0;
}

/* tz_append */
#tz_append .TzInner{
    height:auto;
    background: #929292;
}
#portfolio #tz_append a.tzNomore{
    background-image: none;
    display:  none !important;
}
#tz_append-a{
    display: none;
}
#portfolio #tz_append{
    height:212px;

}
#portfolio #tz_append a{
    padding:0;
    display: block;
    width: 100%;
    height: 212px;
    background: url(../images/add-item.png) center no-repeat;
    box-shadow: none;
    z-index: 10;
    position: relative;
    font-size: 0;
}

.AuthorAvatar {
	margin-right: 20px;
	float : left;
}

/* tagName */
span.tagName{
    color:#fff;
    font-size: 10px;
    padding-left: 15px;
    text-shadow: 0 2px 3px #000;
    text-transform: uppercase;
}
.TzPortfolioDescription span.tagName{
    padding: 0;
    display:block;
}

/* Media Ico */
/* Lignes 915 à 932 */
.tz_portfolio_image span.icon_image,
.tz_portfolio_image_gallery span.icon_gallery,
.tz_portfolio_video span.icon_video{
    position: absolute;
    bottom:0;
    right:0;
    opacity: 0;
    filter:alpha(opacity=0);
    z-index: 10;
    height: 51px;
    width: 51px;
}
.tz_portfolio_image:hover span.icon_image,
.tz_portfolio_image_gallery:hover span.icon_gallery,
.tz_portfolio_video:hover span.icon_video{
    opacity: 1;
    filter:alpha(opacity=100);
}
.tz_portfolio_image span.icon_image{
    background: url(../images/icon-image.png) center no-repeat ;

}
.tz_portfolio_image_gallery span.icon_gallery{
    background: url(../images/icon-gallery.png) center no-repeat ;

}
.tz_portfolio_video span.icon_video{
    background: url(../images/icon-video.png) center no-repeat ;

}


.TzTimeLineMedia, .TzPortfolioMedia, .TzArticle-info
{
    margin-bottom: 0px;
}

#TzContent .tz_item a
{
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#TzContent .tz_item .rating a
{
    display: inline-block;
}

#disqus_thread {
    background: none;
    margin: 0 0 20px 0;
    padding: 0px;
    position: relative;
    border: none;
}

/* Increase Margin bottom for Supersized  controls */
.column-1
{
	margin-bottom: 50px;
}

/* DGUI Horizontal Related Articles */
/* dgui_gallery_item = paramètre "classe de page" dy menu "Galeries"*/
.dgui_gallery_item .TzRelated ul
{
	list-style: none;
	margin-left: 0px;
}

.dgui_gallery_item .TzRelated li
{
    display:inline;
    list-style:none;
}
.dgui_gallery_item .TzRelated li.first
{
	padding-left: 0px;
}
.dgui_gallery_item .TzImage
{
	display:inline;
}

li.TzItem{
	padding: 4px 5px;
}

li.TzItem a {
	text-decoration: none;
}

.dgui_gallery_item .TzRelated li img
{
	border: 2px solid #e5e5e5;
}
.dgui_gallery_item .TzRelated li img:hover
{
	border: 2px solid #ff5b0a;
}

/* Templaza Article */

hr.line-hr
{
	border-top: 1px solid #757575;
	margin: 10px 0;
}

q, blockquote {
quotes: '\201C' '\201D' '\2018' '\2019';
font-family: "Times New Roman",Times,serif;
font-style: italic;
padding: 0 20px;
font-size: 16px;
line-height: 22px;
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 40px;
-webkit-margin-end: 40px;
}

blockquote:before {
content: '\201C';
}

blockquote:after {
content: '\201D';
}

.TzItemPageInner, .foxcontainer
{
	background: url('../images/img/blackBG.png') repeat;
}

.item-portfolio-content {
padding: 0 40px 40px;
}

.TzPortfolioItemPage .TzItemPageInner h2.TzArticleTitle, .TzBlog .TzBlogInner .TzCategoryTitle, .foxcontainer h2 {
font-size: 36px;
font-family: 'Open Sans Condensed';
text-transform: uppercase;
color: #eee;
font-weight: 300;
margin: 0;
padding-top: 10px;
padding-bottom: 10px;
}

.TzBlog .TzBlogInner .TzCategoryTitle, .TzBlog .TzBlogInner .TzCategoryDesc
{
	background: url('../images/img/blackBG.png') repeat;
	padding: 0 40px;
}

.TzBlog .TzBlogInner .TzCategoryTitle
{
	padding-top: 20px;
}

.TzBlog .TzBlogInner .TzCategoryDesc
{
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.TzPortfolioItemPage .TzItemPageInner h3, .foxcontainer h2 {
font-size: 24px;
text-transform: uppercase;
color: #eee;
font-weight: 300;
margin: 0;
padding-top: 20px;
padding-bottom: 10px;
}


.TzItemPageInner p, .foxcontainer {
margin: 0 0 10px;
padding: 0;
color: #e5e5e5;
}

.TzPortfolioItemPage .TzArticleInfo {
border: none;
padding: 0;
}

.TzArticleInfo span
{
background: none;
border-radius: 0;
padding: 0;
color: #757575;
font-size: 11px;
line-height: 20px;
text-transform: uppercase;
font-weight: 300;
text-shadow: none;
}

span.date, span.p_tag, span.TZCommentCount, span.TzPortfolioCommentCount {
background-image: url(../images/icon-info.png);
background-repeat: no-repeat;
padding: 0px 0 3px 25px;
line-height: 20px;
font-size: 11px;
color: #757575;
text-transform: uppercase;
}

span.TzArticleTag, .TZCommentCount, .TzPortfolioCommentCount{
background: url(../images/icon-info.png) no-repeat scroll left -42px transparent;
margin: 0 0 0 20px;
padding-bottom: 2px;
padding-left: 20px;
padding-top: 2px;
}

.TzArticleInfo .TZCommentCount, .TzPortfolioCommentCount{
background-position: left -21px;
}

.TzArticleInfoBottom span {
color: #757575;
font-size: 12px;
}

.TzArticleInfoBottom span.TzHits {
padding-right: 15px;
}

.TzItemPage .TzArticleInfoBottom, .TzPortfolioItemPage .TzArticleInfoBottom {
color: #161616;
padding: 0 0 20px 0;
}

.TzGoogleMap, .TzItemPage .TzArticleTag, .TzPortfolioItemPage .TzArticleTag {
margin-bottom: 15px;
}

.TzGoogleMap {
margin-bottom: 30px;
}


.TzItemPage .TzArticleExtraField h3, 
.TzPortfolioItemPage .TzArticleExtraField h3, 
.TzItemPage .TzAttachments h3, 
.TzPortfolioItemPage .TzAttachments h3, 
.TzItemPage h3.TzGoogleMap, 
.TzPortfolioItemPage h3.TzGoogleMap, 
.TzItemPage .TzArticleTag h3, 
.TzPortfolioItemPage .TzArticleTag h3, 
.TzPortfolioItemPage .TzRelated h3, 
.TzPortfolioItemPage h3.TzCommentTitle, 
.TzPortfolioItemPage h3.TzArticleAuthorTitle,
.foxcontainer h3 
{
	font-weight: 300;
	font-size: 14px;
	font-family: verdana;
	color: #757575;
	text-transform: uppercase;
	margin: 30px 0 15px 0;
	border-color: #757575;
	border-style: solid;
	border-width: 0 0 8px 0;
	border-radius: 0 0 0 0;
	padding: 0 0 5px 0;
}

.AuthorDetails > h2.AuthorName
{
	font-family : 'Open Sans', Arial, sans-serif;;
	font-size: 22px;
	font-weight: 300;
	color: #ff5b0a;
}

/* Blog Vategory */
.TzItemsRow .column-1 {
width: 860px;
float: none;
margin: 0 0 20px 0;
}

.TzItemsRow .TzItem {
	background: url('../images/img/blackBG.png') repeat;
	padding: 20px 40px;
	margin-left: 0px;
}


.TzBlog .TzBlogInner h3.TzBlogTitle
{
	margin: 0 0 3px 0;
	text-transform: uppercase;
	font-size: 21px;
	color: #444;
	line-height: 20px;
}

.TzBlog h3.TzBlogTitle a {
color: #eee;
font-size: 22px;
text-decoration: none !important;
}

.TzArticleBlogInfo {
border: none;
background: url(../images/line.png) left bottom no-repeat;
padding-bottom: 20px;
margin: 0 0 17px 0;
}

.TzBlog .TzBlogInner .TzDescription
{
	margin: 0 0 10px 0;
}

.TzBlog h3.TzBlogTitle a.TzReadmore
{
width: 100px;
height: auto;
display: inline-block;
font-size: 20px;
float: right;
border-left: 1px solid #444444;
background: url('../images/img/icon-permalink.png') no-repeat 20px center;
color: #999;
margin: 5px 10px 5px 0px;
padding: 0 0 0 40px;
text-transform: none;
}

.TzBlog h3.TzBlogTitle a.TzReadmore:hover
{
	color: #ff5b0a;
}

.TzBlogInner .TzCategoryDesc hr.line-hr {
border: none;
margin: 0px;
}

/* Pagination */
.pagination-list
{
	background: url('../images/img/blackBG.png') repeat;
	padding: 10px;
	margin-bottom: 30px;
}

div.TzPagination {
text-align: center/*right*/;
width: 100%;
}

.TzPagination ul {
/*float: right;*/
}

.TzPagination a {
text-decoration: none;
}

.TzPagination ul.pagination-list li:first-child {
background-position: -12px center;
}

.TzPagination ul.pagination-list li:first-child.disabled {
background-position: 12px center;
}

.TzPagination ul.pagination-list li:first-child, .TzPagination ul.pagination-list li:last-child {
background-image: url(../images/btn_result.png);
background-repeat: no-repeat;
}

.TzPagination ul.pagination-list li:last-child {
background-position: -40px center;
}

.TzPagination ul.pagination-list li:last-child.disabled {
background-position: -65px center;
}

.TzPagination ul.pagination-list li:first-child a, .TzPagination ul.pagination-list li:last-child a {
position: relative;
text-indent: 999px;
}

.TzPagination ul li:last-child {
margin-right: 0;
}

.TzPagination ul li:last-child a, .TzPagination ul li:first-child a {
text-indent: 999px;
display: inline-block;
width: 8px;
overflow: hidden;
}

.TzPagination ul.pagination-list li a {
margin: 0 !important;
color: #aeaeae;
font-size: 12px;
padding: 8px 14px;
background: none;
border: 1px solid #a9a9a9;
float: left;
}

div.TzPagination ul li {
margin: 0 4px;
display: inline-block;
padding: 0;
background: none;
}

.TzBlog .TzBlogInner .TzPagination a
{
	color: #a9a9a9;
}

.TzBlog .TzBlogInner .TzPagination a:hover
{
	color: #ff5b0a;
}

.TzPagination ul.pagination-list li a {
	border-color: #a9a9a9;
}

.TzPagination ul.pagination-list li a:hover {
	border-color: #ff5b0a;
}

.TzPagination ul.pagination-list li.disabled a {
	border-color: #323232;
}

.TzPagination ul.pagination-list li.disabled a:hover {
	border-color: #323232;
}

.TzBlog .TzBlogInner .TzPagination .disabled a
{
	color: #323232;
}


/* Listes */
ul.list
{
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
padding: 0;
margin: 0;
}

ul.list li
{
background: url(../images/marker.gif) 0 8px no-repeat;
padding: 4px 0 8px 23px;
list-style: none;
}

/* Style pour Ajax Login */
.loginH3
{
  display:none; // Ne pas afficher l'entête
}
.ial-login
{
  padding-top: 25px;
}


#mod-search-searchword
{
  margin-top:2px;
}


/* Wookmark Gallery */
.myapp
{
	margin-bottom: 30px;
	position: relative;
}

.tiles
{
	list-style-type: none;
	position: relative;
	margin: 0;
}

.tiles li
{
	list-style: none outside none;
	background-image: none;
}

.tiles li img
{
	/*display: block;*/
	border: 1px solid #dedede;
}

.wookmark-placeholder
{
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #eee;
	border: 1px solid #dedede;
	z-index: -1;
}
