/* Google Font 'Open Sans' */
/* Light => font-weight: 300 */
/* Normal => font-weight: 400 */
/* Semi Bold => font-weight: 600 */
/* Bold => font-weight: 700 */

body
{
	color: #a5a5a5;
	font-family: 'Open Sans';
	font-weight: 400;
}


body a
{
  color: #a0afe8;
  text-decoration: none;
}

body a:hover
{
	color : #ff5b0a;
    text-decoration: none;
}

h3 
{
	font-family: 'Open Sans Condensed';
	font-weight: 600;
	line-height: 1.2;
}

/* Lien de menu aved des enfants à afficher -> mettre un petit + */
.ddsmoothmenu > ul.menu > li.deeper > span:after,
.ddsmoothmenu > ul.menu > li.deeper > a:after
{
    font-family: "fontello";
	font-size: 14px;
    font-style: normal;
    font-weight: normal;
    speak: none;
 
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
 
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
     
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
 
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
	content: '\e834';
}

.ddsmoothmenu ul li ul li a
{
	width: 180px;
}

.content
{
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 400;
}

.font-italic
{
	font-style: italic;
}

.title-block
{
	text-transform: uppercase;
}

.footer
{
	z-index: 998; /* 1 less than shadowbox */
}

.lead
{
	font-weight: 400;
	font-size: 20px;
	color: #e5e5e5;
}

ul#slide-list
{
	padding: 0px;
}

/* Shadowbox */
#sb-title-inner, #sb-info-inner, #sb-loading-inner, div.sb-message
{
	font-family: "Open Sans";
	font-weight: 400;
}

/* Pour la recherhe AJAX */
.search
{
	float: right;
	padding: 5px;
	margin: 15px 10px;
	border: 1px solid #666;
	position: relative;
}

#offlajn-ajax-tile-results
{
	margin: 0 10px 30px 10px;
}

#offlajn-ajax-tile-results .search-result-card .search-result-title > span
{
	font-size: 14px;
	font-weight: 400;
	text-align: left;
}

/* Navigation entre articles */
#tz-portfolio-template-navigation
{
	border-top: 4px solid #212121;
}
.TzNavigationItem
{
	color: #a0afe8;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	float: left;
	display: inline;
	width: 50%;
	padding: 20px;
	white-space: nowrap;
    -moz-transition: all 200ms linear 0s;
    -webkit-transition: all 200ms linear 0s;
    -o-transition: all 200ms linear 0s;
}
.TzNavigationItem .icon-right
{
	margin-left: 10px;
}
.TzNavigationItem .icon-left
{
	margin-right: 10px;
}
.TzNavigationItem:hover
{
	color: #ff5b0a;
	background-color: #212121;
}
#tz-portfolio-template-navigation .next
{
	border-left: 2px solid #212121;	
}
#tz-portfolio-template-navigation .previous
{
	border-right: 2px solid #212121;	
}

/* Pour les menus */
ul.nav li
{
	font-family: 'Open sans condensed';
	font-weight: 600;
	margin: 25px 0px 0 20px;
}
ul.nav li ul li a
{
	font-family: 'Open sans condensed';
	font-size: 16px;
}
ul.nav .separator
{
	color: #eee;
}
/* Pour le livre d'or TZ Guestbook */
#TZGuestBook
{
	border-radius: 0px;
	background: none;
}

#nnt_comment
{
	background: url('../images/img/blackBG.png') repeat;
	text-align: center;
	height: 100px;
}

#nnt_comment:hover
{
	color: #ff5b0a;
}

#nnt_comment_a1
{
	margin: auto;
	float: none;
	text-align: center;
	font-weight: 600;
	width: 100%;
	height: 90px;
	background: none;
	padding: 10px 0 0 0;
    -moz-transition: all 200ms linear 0s;
    -webkit-transition: all 200ms linear 0s;
    -o-transition: all 200ms linear 0s;
}
#nnt_comment_a1 > i
{
	font-size: 60px;	
}
#nnt_comment_a1:hover
{
	color: inherit;
	background: #212121;
}

#wrap-baiviet
{
	background: none;
	left: 8px;
}

.nnt-warp-comment-class
{
	background: url('../images/img/blackBG.png') repeat;
	border: none;
	margin: 10px 10px 0 0;
}

[class^="nnt-warl-comment-li"] > span, [class^="nnt-warl-comment-li"] > p
{
	font-family: 'Open Sans';
	padding: 0;
}

[class^="nnt-warl-comment-li"]
{
	background: none;
	border: none;
	padding: 5px 15px 5px 17px;
	margin: 0;
	color: inherit;
}

.nnt-warl-comment-li-comment
{
	margin-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	width: auto;
	color: #a5a5a5;
}

.nnt-warl-comment-li-title
{
	width: 100%;
	height: auto;
	font-weight: 600;
	background: url("../images/notice.png") no-repeat 15px 15px;
	padding-top: 20px;
	padding-left : 37px;
	font-size: 20px;
	text-transform: uppercase;
}

.nnt-warl-comment-li-title span
{
	font-family: "Open Sans Condensed";
}

.nnt-warl-comment-li-date, .nnt-warl-comment-li-name, .nnt-warl-comment-li-date-name, .nnt-warl-comment-li-mail, .nnt-warl-comment-li-site
{
	font-size: 12px;
	font-style: italic;
	color: #a5a5a5;
	padding-bottom: 0px;
	padding-top: 0px;
}

.nnt-warl-comment-li-name
{
	float: right;
}

.nnt-warl-comment-li-date
{
	float: left;
	text-transform: capitalize;
}

.nnt-warl-comment-li-site, .nnt-warl-comment-li-mail
{
	text-align: right;
}

#tz-Guestbook-seccess
{
	width: 500px;
	height: 50px;
	display: none;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -25px;
	z-index: 5000;
	position: fixed;
	
	text-align: center;
	background: #fff;
}
#tz-Guestbook-seccess span
{
	padding-top: 13px;
	display: block;
	font-size: 15px;
	color: #606060;
}

#warp-fom
{
	width: 550px;
	height: 570px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -275px;
	margin-top: -300px;
	
	border: none;
	border-radius: 0px;
	background: #fff;
	border-bottom: 3px solid #4b91b5;
	color: inherit;
	text-align: initial;
	overflow: visible;
}

#tz-guestbook-form-title
{
	position: relative;
	padding: 10px 0 10px 15px;
	background-color: #4b91b5;
}

#tz-guestbook-form-title > span:first-child
{
	font-size: 22px;
	font-weight: 400;
	color: #e5e5e5;
	text-transform: uppercase;
}

#tz-guestbook-h5-img, #tz-guestbook-h5-img:hover
{
	position: absolute;
	left: auto;
	right: 0px;
	top: 0px;
	width: 50px;
	height: 50px;
	background-image: url('../images/close.png');
	background-repeat: no-repeat;
	background-position: center center;
}
#tz-guestbook-h5-img:hover
{
	cursor: pointer;
	color: #ff5b0a;
}

[id^="warp-input"], #warp-fom textarea
{
	border: 1px solid #d8d8d8;
	background: #ffffaa no-repeat;
	color: #a1a1a1;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.2;
	resize: none;
}


.mandatory, #warp-fom textarea.mandatory
{
	border: 2px solid #d8d8d8;
}

.guestbook-warning
{
	height: 15px;
}
.guestbook-warning > span
{
	line-height: 1;
}

[class^="tz_input_"]
{
	font-family: inherit;
	padding-left: 2px;
}

.warp-in2
{
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 92%;
}

.warp-in:first-child
{
	margin-top: 30px;
}

.warp-in
{
	margin-top: 10px;
}

#nnt_com1
{
	margin-top: 0px;
	height: 30px;
	min-height: 30px;
}
#warp-label
{
	float: none;
	padding-left: 0px;
}
#warp-check
{
	float: none;
	margin-left: 2px;
	margin-right: 7px;
}

#warp-input-sub
{
	background-color: #4b91b5;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #e5e5e5;
	text-shadow: none;
	font-size: 20px;
	height: 45px;
	width: 92%;
	margin-bottom: 0px;
}
#warp-input-sub:hover
{
	background-color: #65a8ca;
}

.guestbook-ajax-loader
{
	font-size: 20px;
}

/* Pour les filtres du Portfolio */
#TzContent #tz_options .option-combo a, .mollusques a.btn
{
	background-color: rgb(7, 7, 7);
	color: #e5e5e5;
	border: none;
	padding: 5px 10px 5px 10px;
	text-transform: capitalize;
	text-decoration: none;
	border-radius: 0;
	-moz-transition: all 200ms linear 0s;
	-webkit-transition: all 200ms linear 0s;
	-o-transition: all 200ms linear 0s;
	
	-moz-box-shadow: 3px 3px 10px 2px #656565;
	-webkit-box-shadow: 3px 3px 10px 2px #656565;
	-o-box-shadow: 3px 3px 10px 2px #656565;
	box-shadow: 3px 3px 10px 2px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=135, Strength=10);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

    opacity: 0.8;
    filter:alpha(opacity=80);

}

.mollusques #all 
{
	background-color: rgb(229, 229, 229);
	color: rgb(7, 7, 7);
	cursor: default;	
}

#TzContent #tz_options .option-combo a.selected, .mollusques a.selected
{
	background-color: #e5e5e5;
	color: rgb(7, 7, 7);
}

#TzContent #tz_options .option-combo a:hover, .mollusques a.btn:hover
{
	background-color: rgb(229, 229, 229);
	color: rgb(7, 7, 7);
}

.mollusques a.btn
{
	border: 1px solid #e5e5e5;
}

.tz_portfolio_image:hover span.icon_image,
.tz_portfolio_gallery:hover span.icon_gallery,
.tz_portfolio_video:hover span.icon_video,
.element .TzInner:hover .TzPortfolioDescription,
.element .TzInner:hover .bg-item,
.TzElement .TzInfo,
.TzElement:hover .TzInfo
{
    -moz-transition: all 200ms linear 0s;
    -webkit-transition: all 200ms linear 0s;
    -o-transition: all 200ms linear 0s;
}

a.bg-item
{
	text-decoration: none;
}

#filter > a
{
	line-height: 43px;
}

/* Pour l'affichage du portfolio */
/* Lignes 663 à 759 */
.TzElement{

}
.element{
    background:none;
}
div#TzContent .tz_item .TzInner
{
    padding:0;
    margin: 0  6px 6px 0;
    border:none;
    /*box-shadow: 2px 2px #B9B9B9;*/
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.element .TzInner:hover .TzPortfolioMedia img{
    transform:scale(1.5);
    -moz-transition: all 300ms linear 200ms;
    -webkit-transition: all 300ms linear 200ms;
    -o-transition: all 300ms linear 200ms;
}
.element .TzInner .TzPortfolioMedia img{
    -moz-transition: all 300ms linear 200ms;
    -webkit-transition: all 300ms linear 200ms;
    -o-transition: all 300ms linear 200ms;
}
.element .TzInner:hover .TzPortfolioMedia span.icon_gallery,
.element .TzInner:hover .TzPortfolioMedia span.icon_video{
	opacity:1;
    filter:alpha(opacity=100);
}
#TzContent{
    margin-left: 4px;
    width:auto;
}
div#TzContent .tz_item .TzInner .TzPortfolioMedia,
div#TzContent .landscape_field .TzInner .TzPortfolioMedia
{
    height:212px !important;
    overflow: hidden;
}
div#TzContent .tz_feature_item .TzInner .TzPortfolioMedia,
div#TzContent .portrait_field .TzInner .TzPortfolioMedia{

    height:427px !important;
    overflow: hidden;
}


div#TzContent .tz_item .tz_portfolio_image,
div#TzContent .tz_item .tz_portfolio_image_gallery,
div#TzContent .tz_item .tz_portfolio_video{
    margin:0;
    height:100%;
}
#TzContent .tz_item .TzPortfolioDescription{
    position: absolute;
    top:40%;
    left:0;
    bottom: auto;
    width: 100%;
    text-align:center;
    opacity: 0;
    filter:alpha(opacity=0);
    z-index: 10;
    padding: 0px;
}
.bg-item{
    background: #000;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
    filter:alpha(opacity=0);
    position: absolute;
    z-index: 0;
    -moz-transition: all 200ms linear 0ms;
    -webkit-transition: all 200ms linear 0ms;
    -o-transition: all 200ms linear 0ms;
}
.element .TzInner:hover .TzPortfolioDescription,
.element .TzInner:hover .icon_image{
    opacity: 1 !important;
    filter:alpha(opacity=100);

}
.element .TzInner:hover .bg-item{
    opacity: 0.75;
    filter:alpha(opacity=75);
}
.element .TzPortfolioMedia img{
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    max-width:none;
}
.TzArticleMedia img{
    width:100%;
}

/* ligne 945 à 975 */
.TzPortfolioDescription{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
#TzContent .TzPortfolioDescription h3.TzPortfolioTitle a,
.TzElement .TzInfo h3.TzTitle span{
    font-size: 18px;
    color:#ffffff;
    cursor: inherit;
    text-transform: uppercase;
    text-shadow: 0px 2px 3px #000;
    font-weight: 400;
    text-decoration: none;
}
#TzContent .tz_feature_item .TzPortfolioDescription h3.TzPortfolioTitle a,
#TzContent .landscape_field .TzPortfolioDescription h3.TzPortfolioTitle a{
    font-size: 18px;
}
#TzContent .TzPortfolioDescription span.btn{
    background:none;
    box-shadow: none;
    border:none;
    text-shadow: none;
    color:#fff;
    padding:0;
}
#TzContent .TzPortfolioDescription  h3.TzPortfolioTitle{
    margin:0;
    line-height: 25px;
    padding: 10px 15px 0;
}

/* tz_append */
#tz_append .TzInner{
    height:auto;
    background: #929292;
}
#portfolio #tz_append a.tzNomore{
    background-image: none;
    display:  none !important;
}
#tz_append-a{
    display: none;
}
#portfolio #tz_append{
    height:212px;

}
#portfolio #tz_append a{
    padding:0;
    display: block;
    width: 100%;
    height: 212px;
    background: url(../images/add-item.png) center no-repeat;
    box-shadow: none;
    z-index: 10;
    position: relative;
    font-size: 0;
}

.AuthorAvatar {
	margin-right: 20px;
	float : left;
}

/* tagName */
span.tagName{
    color:#fff;
    font-size: 10px;
    padding-left: 15px;
    text-shadow: 0 2px 3px #000;
    text-transform: uppercase;
}
.TzPortfolioDescription span.tagName{
    padding: 0;
    display:block;
}

/* Media Ico */
/* Lignes 915 à 932 */
.tz_portfolio_image span.icon_image,
.tz_portfolio_image_gallery span.icon_gallery,
.tz_portfolio_video span.icon_video{
    position: absolute;
    bottom:0;
    right:0;
    opacity: 0;
    filter:alpha(opacity=0);
    z-index: 10;
    height: 51px;
    width: 51px;
}
.tz_portfolio_image:hover span.icon_image,
.tz_portfolio_image_gallery:hover span.icon_gallery,
.tz_portfolio_video:hover span.icon_video{
    opacity: 1;
    filter:alpha(opacity=100);
}
.tz_portfolio_image span.icon_image{
    background: url(../images/icon-image.png) center no-repeat ;

}
.tz_portfolio_image_gallery span.icon_gallery{
    background: url(../images/icon-gallery.png) center no-repeat ;

}
.tz_portfolio_video span.icon_video{
    background: url(../images/icon-video.png) center no-repeat ;

}


.TzTimeLineMedia, .TzPortfolioMedia, .TzArticle-info
{
    margin-bottom: 0px;
}

#TzContent .tz_item a
{
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#TzContent .tz_item .rating a
{
    display: inline-block;
}

#disqus_thread {
    background: none;
    margin: 0 0 20px 0;
    padding: 0px;
    position: relative;
    border: none;
}

/* Increase Margin bottom for Supersized  controls */
.column-1
{
	margin-bottom: 50px;
}

/* DGUI Horizontal Related Articles */
/* dgui_gallery_item = paramètre "classe de page" du menu "Galeries"*/
.dgui_gallery_item .TzRelated ul
{
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

.dgui_gallery_item .TzRelated li
{
    display: inline-block;
    list-style: none;
}
.dgui_gallery_item .TzRelated li.first
{
	padding-left: 0px;
}
.dgui_gallery_item .TzImage
{
	display: inline-block;
	position: relative;
}

.dgui_gallery_item .TzRelated .TzItem
{
	padding-left: 0px;
}

li.TzItem{
	padding: 4px 5px;
}

li.TzItem a {
	text-decoration: none;
}

.dgui_gallery_item .TzRelated li img
{
	border: 2px solid #a0afe8;
}
.dgui_gallery_item .TzRelated li img:hover
{
	border: 2px solid #ff5b0a;
}

.TzRelatedImageBg
{
    background: #000;
	padding: 10px 0;
	text-align: center;
	/*text-transform: uppercase;*/
	font-size: 13px;
	height: 0px;
    bottom:2px;
    left:2px;
    right:2px;
    opacity:0;
    filter:alpha(opacity=0);
    position: absolute;
    -moz-transition: all 200ms linear 0ms;
    -webkit-transition: all 200ms linear 0ms;
    -o-transition: all 200ms linear 0ms;	
}
.dgui_gallery_item .TzImage:hover .TzRelatedImageBg
{
    opacity: 0.75;
    filter:alpha(opacity=75);
	height: 40px;
}

/* Templaza Article */

.line-hr
{
	border-top: 1px solid #757575;
	margin: 10px 0;
}

q, blockquote {
quotes: '\201C' '\201D' '\2018' '\2019';
font-family: "Open Sans";
font-style: italic;
padding: 0 20px;
font-size: 18px;
line-height: 22px;
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 40px;
-webkit-margin-end: 40px;
border-left: 5px solid #555;
}

blockquote:before {
content: '\201C';
}

blockquote:after {
content: '\201D';
}

.TzItemPageInner, .foxcontainer
{
	background: url('../images/img/blackBG.png') repeat;
}

.item-portfolio-content {
padding: 0 40px 40px;
}

.TzPortfolioItemPage .TzItemPageInner h2.TzArticleTitle, .TzBlog .TzBlogInner .TzCategoryTitle, .foxcontainer h2
{
	font-size: 36px;
	font-family: 'Open Sans Condensed';
	text-transform: uppercase;
	color: #eee;
	font-weight: 600;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TzBlog .TzBlogInner .TzCategoryTitle, .TzBlog .TzBlogInner .TzCategoryDesc
{
	background: url('../images/img/blackBG.png') repeat;
	padding: 0 40px;
}

.TzBlog .TzBlogInner .TzCategoryTitle
{
	padding-top: 20px;
}

.TzBlog .TzBlogInner .TzCategoryDesc
{
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.TzPortfolioItemPage .TzItemPageInner h3, .foxcontainer h2
{
	font-size: 24px;
	text-transform: uppercase;
	color: #e5e5e5;
	font-weight: 600;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px;
}


.TzItemPageInner p, .foxcontainer
{
	margin: 0 0 10px;
	padding: 0;
	color: #a5a5a5;
}

.TzPortfolioItemPage .TzArticleInfo {
border: none;
padding: 0;
}

.TzArticleInfo span
{
background: none;
border-radius: 0;
padding: 0;
color: #757575;
font-size: 11px;
line-height: 20px;
text-transform: uppercase;
font-weight: 400;
text-shadow: none;
}

span.date, span.p_tag, span.TZCommentCount, span.TzPortfolioCommentCount, span.TzArticleTag {
background-image: url(../images/icon-info.png);
background-repeat: no-repeat;
padding: 0px 0 3px 25px;
line-height: 20px;
font-size: 14px;
color: #a5a5a5;
text-transform: uppercase;
}

span.TzArticleTag, .TZCommentCount, .TzPortfolioCommentCount{
background: url(../images/icon-info.png) no-repeat scroll left -42px transparent;
margin: 0 0 0 20px;
padding-bottom: 2px;
padding-left: 20px;
padding-top: 2px;
}

.TZCommentCount, .TzPortfolioCommentCount{
background-position: left -21px;
}

.TzArticleInfoBottom span {
color: #a5a5a5;
font-size: 14px;
}

.TzArticleInfoBottom span.TzHits {
padding-right: 15px;
}

.TzItemPage .TzArticleInfoBottom, .TzPortfolioItemPage .TzArticleInfoBottom {
color: #161616;
padding: 0 0 20px 0;
}

.TzGoogleMap, .TzItemPage .TzArticleTag, .TzPortfolioItemPage .TzArticleTag {
margin-bottom: 15px;
}

.TzGoogleMap {
margin-bottom: 30px;
}


.TzItemPage .TzArticleExtraField h3, 
.TzPortfolioItemPage .TzArticleExtraField h3, 
.TzItemPage .TzAttachments h3, 
.TzPortfolioItemPage .TzAttachments h3, 
.TzItemPage h3.TzGoogleMap, 
.TzPortfolioItemPage h3.TzGoogleMap, 
.TzItemPage .TzArticleTag h3, 
.TzPortfolioItemPage .TzArticleTag h3, 
.TzPortfolioItemPage .TzRelated h3, 
.TzPortfolioItemPage h3.TzCommentTitle, 
.TzPortfolioItemPage h3.TzArticleAuthorTitle,
.TzPortfolioItemPage h3.TzGoogleMapTitle,
.foxcontainer h3 
{
	font-weight: 400;
	font-size: 16px;
	font-family: verdana;
	color: #757575;
	text-transform: uppercase;
	margin: 30px 0 15px 0;
	border-color: #757575;
	border-style: solid;
	border-width: 0 0 8px 0;
	border-radius: 0 0 0 0;
	padding: 0 0 5px 0;
}

.AuthorDetails > h2.AuthorName
{
	font-family : 'Open Sans', Arial, sans-serif;;
	font-size: 22px;
	font-weight: 400;
	color: #ff5b0a;
}

/* Blog Vategory */
.TzItemsRow .column-1 {
width: 860px;
float: none;
margin: 0 0 20px 0;
}

.TzItemsRow .TzItem {
	background: url('../images/img/blackBG.png') repeat;
	padding: 20px 40px;
	margin-left: 0px;
}


.TzBlog .TzBlogInner h3.TzBlogTitle
{
	margin: 0 0 3px 0;
	text-transform: uppercase;
	font-size: 21px;
	color: #444;
	line-height: 20px;
}

.TzBlog h3.TzBlogTitle a {
color: #eee;
font-size: 22px;
text-decoration: none !important;
}

.TzArticleBlogInfo {
border: none;
background: url(../images/line.png) left bottom no-repeat;
padding-bottom: 20px;
margin: 0 0 17px 0;
}

.TzBlog .TzBlogInner .TzDescription
{
	margin: 0 0 10px 0;
}

.TzBlog h3.TzBlogTitle a.TzReadmore, #mapinfocontainer a.TzReadmore
{
width: 110px;
height: auto;
display: inline-block;
font-size: 20px;
float: right;
border-left: 1px solid #444444;
background: url('../images/img/icon-permalink.png') no-repeat 20px center;
color: #999;
margin: 5px 10px 5px 0px;
padding: 0 0 0 40px;
text-transform: none;
font-weight: 600;
}

#mapinfocontainer a.TzReadmore
{
	width: auto;
	font-size: 14px;
	float: left;
	padding-left: 25px;
	border-left: 0px;
	background-position: 0px center;
	margin: 0px;
}



.TzBlog h3.TzBlogTitle a.TzReadmore:hover, #mapinfocontainer a.TzReadmore:hover
{
	color: #ff5b0a;
}

.TzBlogInner .TzCategoryDesc hr.line-hr {
border: none;
margin: 0px;
}

/* Pagination */
.pagination-list
{
	background: url('../images/img/blackBG.png') repeat;
	padding: 10px;
	margin-bottom: 30px;
}

div.TzPagination
{
	text-align: center;
	width: 100%;
}

.TzPagination a
{
	text-decoration: none;
}

.TzPagination ul.pagination-list li:first-child.active > a
{
	background-position: -12px center;
}
.TzPagination ul.pagination-list li:first-child.active > a:hover
{
	background-position: 12px center;
}

.TzPagination ul.pagination-list li:first-child.disabled > a
{
	background-position: 12px center;
}

.TzPagination ul.pagination-list li:first-child > a,
.TzPagination ul.pagination-list li:last-child > a
{
	background-image: url(../images/btn_result.png);
	background-repeat: no-repeat;
}

.TzPagination ul.pagination-list li:last-child.active > a
{
	background-position: -40px center;
}
.TzPagination ul.pagination-list li:last-child.active > a:hover
{
	background-position: -65px center;
}

.TzPagination ul.pagination-list li:last-child.disabled > a
{
	background-position: -65px center;
}

.TzPagination ul.pagination-list li:first-child a, 
.TzPagination ul.pagination-list li:last-child a
{
	position: relative;
	text-indent: 999px;
}

.TzPagination ul li:last-child
{
	margin-right: 0;
}

.TzPagination ul li:last-child a, .TzPagination ul li:first-child a
{
	text-indent: 999px;
	display: inline-block;
	width: 8px;
	overflow: hidden;
}

.TzPagination ul.pagination-list li a
{
	margin: 0 !important;
	color: #aeaeae;
	font-size: 15px;
	font-weight: 600;
	padding: 8px 14px;
	background: none;
	border: 1px solid #a9a9a9;
	float: left;
}

div.TzPagination ul li
{
	margin: 0 4px;
	display: inline-block;
	padding: 0;
	background: none;
}

.TzBlog .TzBlogInner .TzPagination a
{
	color: #a9a9a9;
}

.TzBlog .TzBlogInner .TzPagination a:hover
{
	color: #444;
}

.TzPagination ul.pagination-list li a
{
	border-color: #a9a9a9;
}

.TzPagination ul.pagination-list li.active a:hover
{
	background-color: #a9a9a9;
}

.TzPagination ul.pagination-list li.disabled a
{
	border-color: #323232;
}

.TzPagination ul.pagination-list li.disabled a:hover
{
	background-color: none;
}

.TzBlog .TzBlogInner .TzPagination .disabled a
{
	color: #323232;
}


/* Listes */
ul
{
	padding-left: 30px;
	margin: 15px 0;
}

ul.list
{
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
	padding: 0;
	margin: 0;
}

ul.list li
{
	background: url(../images/marker.gif) 0 8px no-repeat;
	padding: 4px 0 8px 23px;
	list-style: none;
}

ul.check
{
	list-style: none;
	margin: 15px 0;
	padding: 0;
}
ul.check > li:first-child
{
	margin-top: 0;
}
ul.check > li
{
	padding: 4px 0 0 30px;
	line-height: 24px;
	margin-top: 5px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB50RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNS4xqx9I6wAAABZ0RVh0Q3JlYXRpb24gVGltZQAwMS8yMS8xMRTK2QYAAAD/SURBVEiJvZbhrYIwFEY/jQN0BEfgbfBGcATdwBEcwQ10g+cIbqAb6AawwfFHIda+thRt/ZIbSrhwLuQEmAGqnXl1whcgpjakGRY1IEbSud92NSADYChJ0qygXUtJJ0lI+nEPLAoBGtnJ/wEkScCn1QAdNutQz6eANc/8xfpKAW6AKQ3Z8ZrfVL+7Y4BVXynA0QPsxoaKTXYCll6zCQAuOXfuGtJ6F+icKQ1w9Y63/XnZEGGfayj3AABgmwPwIb4xqUR1zYEIOIwAWhK65kLUTxpLUtcpEIM1x89+KiAFEVZh17gsXadCBrVhgq6hGnvVXyVtnPVbKfnRiuYrv0QPpLh+2CdG8E0AAAAASUVORK5CYII=) 0 0 no-repeat;
}

/* Ajax Login & Register */

#footer-toolbar
{
	float: right;
	height: 100%;
}

#mod_improved_ajax_login-106
{
	height: 100%;
}
.selectBtn, .logout
{
	height: 100%;
	font-size: 20px;
	padding: 10px;
	border-left: 1px solid #333;
}

#mod-search-searchword
{
  margin-top:2px;
}


/* Wookmark Gallery */
.myapp
{
	margin: 10px 0 10px 0;
	position: relative;
}

.tiles
{
	list-style-type: none;
	position: relative;
	margin: 0;
	padding-left: 0px;
}

.tiles li
{
	list-style: none outside none;
	background-image: none;
	display: none;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.tiles li.inactive
{
	visibility: hidden;
	opacity: 0;
}

.tiles li img
{
	border: 1px solid #dedede;
}

.wmcontainer
{
	position: relative;
}

.wmdesc
{
	position: absolute;
	height: 25px;
	bottom: 1px;
	right: 1px;
	left: 1px;
	font-style: italic;
	font-size: 13px;
	background-color: #000;
	text-align: center;
	vertical-align: middle;
    opacity: 0.75;
    filter:alpha(opacity=75);
}

.wmbg
{
	position: absolute;
	bottom: 26px;
	right: 1px;
	left: 1px;
	top: 1px;
	background-color: #000;
    opacity: 0;
    filter:alpha(opacity=0);
    -moz-transition: all 200ms linear 0ms;
    -webkit-transition: all 200ms linear 0ms;
    -o-transition: all 200ms linear 0ms;	
}

.wmlinks
{
	position: absolute;
	top: 40%;
	right: 0;
	left: 0;
	text-align: center;
}

.tiles li:hover .wmbg
{
    opacity: 0.75;
    filter:alpha(opacity=0.75);
}


.wookmark-placeholder
{
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #eee;
	border: 1px solid #dedede;
	z-index: -1;
}

[class^="wookmark-single-"]
{
	margin-top: 6px;
	margin-bottom: 10px;
	border: 1px solid white;
}
.wookmark-single-right
{
	float: right;
	margin-left: 15px;
}
.wookmark-single-left
{
	float: left;
	margin-right: 15px;
}


/* Fox Contact */

.fox-contact-header .custom
{
	margin-top: 0px;
	padding: 10px 25px 0 25px;
}

div#foxcontainer_c149
{
	width: auto;
	padding: 40px 40px 20px 40px;
	overflow: hidden;
	margin: auto;
}

div#foxcontainer_c149 .fox_form select,
div#foxcontainer_c149 .fox_form textarea,
div#foxcontainer_c149 .fox_form input[type="text"]
{
	background-color: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #a5a5a5;
	font-size: 16px;
	font-weight: 300;
}

div#foxcontainer_c149 .fox_form textarea:hover,
div#foxcontainer_c149 .fox_form textarea:focus,
div#foxcontainer_c149 .fox_form input[type="text"]:hover, 
div#foxcontainer_c149 .fox_form input[type="text"]:focus
{
	background-color: transparent;
	color: #a5a5a5;
}

div#foxcontainer_c149 .fox_form textarea
{
	resize: vertical;
}

div#foxcontainer_c149 .btn
{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

div#foxcontainer_c149 .submit-button span,
div#foxcontainer_c149 .reset-button span
{
	padding: 1px 0px 4px 0px;
}

div#foxcontainer_c149 .fcaptchafieldcontainer
{
	background-color: #fff;
	padding: 5px;
}

div#foxcontainer_c149 .fox_captcha_img
{
	padding: 0px;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-shadow: 0 0 7px rgba(192, 192, 192, 0.698);
}

div#foxcontainer_c149 .alert
{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 40px;
}

div#foxcontainer_c149 .foxform-extended .control-label
{
	text-align: right;
}

/** Pour la bio **/
.TreeTagVert {
	color: #bfa12b;
	border: 2px solid #bfa12b;
	padding-left: 2px;
	padding-right: 2px;
}
.TreeVert {
	width: 25px;
	height: 20px;
	background: #bfa12b;
}

.TreeTag {
	border: 2px solid #5c8aa7;
	padding-left: 2px;
	padding-right: 2px;
}

.TreeTagPointer {
	color: blue;
	cursor: pointer;
}

.Tree {
	width: 25px;
	height: 20px;
	background: #5c8aa7;
}

.TreeCell {
	width: 25px;
}


.TreeLabel {
	position: absolute;
	border: 2px solid #5c8aa7;
	padding: 4px 2px;
	width: 120px;
	/*height: 16px;*/
	line-height: 16px;
	text-align: center;
	font-size:12px;
	margin: 0px;
}
.TreeBranch {
	position: absolute;
	background-image: url('../images/TreeTag.jpg');
	background-repeat: repeat;
	_font-size: 0px;
	_line-height: 0px;
}
.mollusques .TreeBranch
{
	background-image: none;
	background-color: #e5e5e5;
}

.MollusqueLabel
{
	position: absolute;
}

/*  NoNumber Tooltip */
span.tooltips-link.bluetip {
    background-color: #EEEEEE;
    padding: 3px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
div.popover.bluetip {
    background-color: #FFFFFF;
    color: #4b91b5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	padding: 0px;
}
div.popover.bluetip .arrow {
    border-top-color: #339933;
}
div.popover.bluetip .popover-title {
    background-color: #4b91b5;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

/*  Wikipedia */
#wikimessage
{
	margin-top: 40px;
}
#wikicontent
{
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
}

#wikicontent img {
border: none;
vertical-align: middle;
}

#wikicontent ul
{
	margin: 5px 0px;
}

#wikicontent h2, #wikicontent h3, #wikicontent h4
{
	margin-top: 25px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}

#toctitle h2
{
	margin-top: 0px;
	margin-left: 5px;
	font-size: 120%;
	border: none;
}

#toc, .toc {
display: -moz-inline-block;
display: inline-block;
display: table;
zoom: 1;
padding: 7px;
border: 1px solid #aaa;
margin-top: 25px;
}
#toc ul, .toc ul {
list-style-type: none;
list-style-image: none;
margin: 5px;
padding: 0;
text-align: left;
}
#wikicontent .toc ul ul, #wikicontent #toc ul ul, #wikicontent .toc ul ul, #wikicontent #toc ul ul {
margin: 0 0 0 2em;
}

.bandeau {
text-align: left;
margin: 10px 0 20px 0;
border-style: solid;
border-width: 1px 1px 1px 10px;
padding: 2px 10px;
}
.bandeau-niveau-ebauche, .bandeau-niveau-information {
border-color: #77ccff;
}
.bandeau-icone {
vertical-align: middle;
text-align: center;
min-width: 45px;
padding-right: 10px;
}
.bandeau-titre {
font-size: 1em;
line-height: 1.4em;
margin-bottom: 0.5em;
}
.bandeau-texte {
font-size: 0.9em;
line-height: 1.2em;
}

div.boite-a-droite {
display: table;
clear: right;
float: right;
margin: 5px 0px 1em 1em;
position: relative;
border-style: solid;
border-width: 1px;
padding: 4px 15px;
text-align: left;
}

div.infobox_v3 {
padding: 5px;
width: 25em;
border: 1px solid #AAA;
clear: right;
float: right;
font-size: 0.9em;
line-height: 1.4em;
margin: 0 0 0.5em 1em;
max-width: 325px;
word-wrap: break-word;
}
.taxobox_v3 {
font-size: 0.99em !important;
padding: 1px;
}
div.taxobox_v3 .entete, .taxobox_v3 caption, .taxobox_v3 p.bloc {
font-style: normal;
}
.infobox_v3 .entete {
font-weight: bold;
text-align: center;
font-size: 1.4em;
line-height: 1.1em;
margin: 0 0 10px 0 !important;
padding: 3px 0;
background-color: #757575;
border: 2px solid #757575;
color: #eee;
}
.infobox_v3 .images {
text-align: center;
display: flex;
justify-content: space-around;
align-items: center;
}
.infobox_v3 .images img {
max-width: 99%;
height: auto;
}
.infobox_v3 .legend {
font-size: 0.9em;
text-align: center;
margin: 5px 0 8px 0;
}
div.taxobox_v3 .taxobox_classification {
font-style: italic;
}
.infobox_v3 table {
width: 100%;
margin: 5px 0;
table-layout: fixed;
border-collapse: collapse;
}
div.taxobox_v3 .entete, .taxobox_v3 caption, .taxobox_v3 p.bloc {
font-style: normal;
}
.infobox_v3 p.bloc {
margin: 5px 0;
}
.infobox_v3 caption, .infobox_v3 p.bloc {
background: #757575;
}
.infobox_v3 p.bloc, .infobox_v3 p.bordered, .infobox_v3 caption {
font-weight: bold;
text-align: center;
line-height: 1.1em;
margin: 0 0 5px 0;
padding: 4px 10px 4px 5px;
color: #eee;
}
div.taxobox_v3 .taxobox_classification .rnormal {
font-style: normal;
}
div.taxobox_v3.zoologie .taxobox_classification .normal, div.taxobox_v3 th[scope="row"] {
font-style: normal;
padding-right: 5px;
}
.infobox_v3 th[scope=row], .infobox_v3 td {
padding-top: 4px;
vertical-align: super;
}
.infobox_v3 th[scope=row] {
text-align: left;
vertical-align: super;
padding-right: 10px;
width: 8em;
}
.infobox_v3 th[scope="row"] {
max-width: 140px;
word-wrap: normal;
}
.taxobox_v3 th {
font-weight: normal;
}
.center {
width: 100%;
text-align: center;
}
*.center * {
margin-left: auto;
margin-right: auto;
}
div.thumbinner {
border: 1px solid #aaa;
padding: 3px;
font-size: 94%;
text-align: center;
overflow: hidden;
}
div.tright {
margin: .5em 0 1.3em 1.4em;
}
div.thumb {
margin-bottom: .5em;
width: auto;
background-color: transparent;
}
div.tright, div.floatright, table.floatright {
clear: right;
float: right;
}
.references-small.decimal ol {
list-style-type: decimal;
}
.references-small ol, ol.references {
margin-top: 0;
margin-left: 35px;
}
ol.references > li {
text-align: left;
}

#wikicontent ul#bandeau-portail {
border: solid #AAAAAA 1px;
padding: 10px;
text-align: center;
margin-top: 20px;
margin-left: 0;
clear: both;
}
#bandeau-portail li {
display: inline;
}
.bandeau-portail-element {
white-space: nowrap;
margin: auto 1.5em;
}
.bandeau-portail-icone {
margin-right: 0.5em;
}
.bandeau-portail-texte {
font-weight: bold;
}

#wikicontent ul.gallery {
margin: 2px auto;
text-align: center;
}

#wikicontent ul.gallery {
margin: 2px;
padding: 2px;
display: block;
}

#wikicontent ul.gallery, #wikicontent li.gallerybox {
zoom: 1;
}

#wikicontent li.gallerybox {
vertical-align: top;
display: -moz-inline-box;
display: inline-block;
}

li.gallerybox div.thumb {
text-align: center;
margin: 2px;
}

div.thumb {
margin-bottom: .5em;
width: auto;
background-color: transparent;
}

div.gallerytext {
text-align: left;
font-size: 89%;
}

div.gallerytext {
overflow: hidden;
font-size: 94%;
padding: 2px 4px;
word-wrap: break-word;
}

/* Google Map */
#mapinfocontainer > h3.mapinfotitle
{
	margin: 0px;
	padding: 0px;
	color: #555;
}
#mapinfocontainer > p
{
	color: #555;
}

#mapinfocontainer table.mapinfotitletable
{
    padding: 0px;
    margin: 0px;
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
}

#mapinfocontainer p
{
	margin: 10px 0px 0px 0px;
}

/* JQuery Select2 */
.select2-container-multi .select2-choices .select2-search-choice
{
	padding: 2px 5px 2px 18px;
}

/* D3JS */
.node
{
 	cursor: pointer;
}
.inactivenode
{
	cursor: default;
}
.node:hover
{
	background-color: yellow;
}

.node text {
  font-family: 'Open Sans';
  color: #ccc;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#area-filter-container
{
	width: 50%;
	float: left;
}
#date-filter-container
{
	width: 50%;
	float: right;
}

/* iFrame responsives pour les vidéos */
.iframe-responsive-wrapper        {
    position: relative;
}

.iframe-responsive-wrapper .iframe-ratio {
    display: block;
    width: 100%;
    height: auto;
}

.iframe-responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

	#area-filter-container
	{
		width: 50%;
		float: left;
	}
	#date-filter-container
	{
		width: 50%;
		float: right;
	}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

	#area-filter-container
	{
		width: 100%;
		float: left;
	}
	#date-filter-container
	{
		width: 100%;
		float: left;
	}
	
	.navigationcpation
	{
		display: none;
	}

	.navigationicon
	{
		font-size: 35px;
	}

}

@media only screen and (min-width: 200px) and (max-width: 479px) {

	#area-filter-container
	{
		width: 100%;
		float: left;
	}
	#date-filter-container
	{
		width: 100%;
		float: left;
	}

	.navigationcpation
	{
		display: none;
	}
	
	.navigationicon
	{
		font-size: 35px;
	}

}



