@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?39892581');
  src: url('../font/fontello.eot?39892581#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?39892581') format('woff'),
       url('../font/fontello.ttf?39892581') format('truetype'),
       url('../font/fontello.svg?39892581#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?39892581#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-spin1:before { content: '\e800'; } /* '' */
.icon-spin2:before { content: '\e801'; } /* '' */
.icon-spin3:before { content: '\e802'; } /* '' */
.icon-spin4:before { content: '\e803'; } /* '' */
.icon-spin5:before { content: '\e804'; } /* '' */
.icon-spin6:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\e807'; } /* '' */
.icon-right:before { content: '\e808'; } /* '' */
.icon-left:before { content: '\e809'; } /* '' */
.icon-link-ext:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-info-circled:before { content: '\e80c'; } /* '' */
.icon-attention-circled:before { content: '\e80d'; } /* '' */
.icon-attention:before { content: '\e80e'; } /* '' */
.icon-eye:before { content: '\e80f'; } /* '' */
.icon-edit:before { content: '\e810'; } /* '' */
.icon-left-open:before { content: '\e811'; } /* '' */
.icon-right-open:before { content: '\e812'; } /* '' */
.icon-cancel-circled2:before { content: '\e813'; } /* '' */
.icon-cancel-circled:before { content: '\e814'; } /* '' */
.icon-lock:before { content: '\e815'; } /* '' */
.icon-lock-open:before { content: '\e816'; } /* '' */
.icon-lock-open-alt:before { content: '\e817'; } /* '' */
.icon-home:before { content: '\e818'; } /* '' */
.icon-lightbulb:before { content: '\e819'; } /* '' */
.icon-cog:before { content: '\e81a'; } /* '' */
.icon-cog-alt:before { content: '\e81b'; } /* '' */
.icon-sliders:before { content: '\e81c'; } /* '' */
.icon-wrench:before { content: '\e81d'; } /* '' */
.icon-camera:before { content: '\e81e'; } /* '' */
.icon-camera-alt:before { content: '\e81f'; } /* '' */
.icon-zoom-in:before { content: '\e820'; } /* '' */
.icon-zoom-out:before { content: '\e821'; } /* '' */
.icon-calendar:before { content: '\e822'; } /* '' */
.icon-location:before { content: '\e823'; } /* '' */
.icon-direction:before { content: '\e824'; } /* '' */
.icon-target:before { content: '\e825'; } /* '' */
.icon-filter:before { content: '\e826'; } /* '' */
.icon-globe:before { content: '\e827'; } /* '' */
.icon-resize-full:before { content: '\e828'; } /* '' */
.icon-resize-small:before { content: '\e829'; } /* '' */
.icon-emo-unhappy:before { content: '\e82a'; } /* '' */
.icon-emo-beer:before { content: '\e82b'; } /* '' */
.icon-emo-displeased:before { content: '\e82c'; } /* '' */
.icon-plus:before { content: '\e82d'; } /* '' */
.icon-plus-circled:before { content: '\e82e'; } /* '' */
.icon-plus-squared:before { content: '\e82f'; } /* '' */
.icon-plus-squared-alt:before { content: '\e830'; } /* '' */
.icon-down-dir:before { content: '\e831'; } /* '' */
.icon-down-circled2:before { content: '\e832'; } /* '' */
.icon-down-open:before { content: '\e833'; } /* '' */
.icon-angle-down:before { content: '\e834'; } /* '' */
.icon-angle-circled-down:before { content: '\e835'; } /* '' */
.icon-angle-double-down:before { content: '\e836'; } /* '' */
.icon-down-circled:before { content: '\e837'; } /* '' */
.icon-expand:before { content: '\e838'; } /* '' */
.icon-right-big:before { content: '\e839'; } /* '' */
.icon-right-hand:before { content: '\e83a'; } /* '' */
.icon-ok:before { content: '\e83b'; } /* '' */
.icon-check:before { content: '\e83c'; } /* '' */
.icon-check-empty:before { content: '\e83d'; } /* '' */
.icon-toggle-off:before { content: '\e83e'; } /* '' */
.icon-toggle-on:before { content: '\e83f'; } /* '' */
.icon-th-large:before { content: '\e840'; } /* '' */
.icon-th:before { content: '\e841'; } /* '' */
.icon-user:before { content: '\e842'; } /* '' */