administrator/components/com_akeeba/backup/akeeba.backend.log
images/phocagallery/*/*/*.jpg
images/phocagallery/*/*/*/*.jpg
images/phocagallery/*/*/*/*/*.jpg
images/phocagallery/*/*/*/*/*/*.jpg
images/phocagallery/*/*/*/*/*/*/*.jpg
images/supersized/*.jpg
plugins/content/wookmark_gallery/wookmark_gallery/tmpl/cache/*.*

media/tz_portfolio/article/cache/*.jpg

plugins/content/wookmark_gallery/wookmark_gallery/tmpl/cache/*.*
