administrator/components/com_akeeba/backup/akeeba.backend.log
images/phocagallery/*/*/*.jpg
images/phocagallery/*/*/*/*.jpg
images/phocagallery/*/*/*/*/*.jpg
images/phocagallery/*/*/*/*/*/*.jpg
images/phocagallery/*/*/*/*/*/*/*.jpg
images/supersized/*.jpg
plugins/content/wookmark_gallery/wookmark_gallery/tmpl/cache/*.*

plugins/content/wookmark_gallery/wookmark_gallery/tmpl/cache/*.*

tmp/*.*

modules/mod_universal_ajaxlivesearch/cache/103/*.js
