administrator/components/com_akeeba/backup/akeeba.backend.log
images/phocagallery/*/*/*.jpg
images/phocagallery/*/*/*/*.jpg
images/phocagallery/*/*/*/*/*.jpg
images/phocagallery/*/*/*/*/*/*.jpg
images/phocagallery/*/*/*/*/*/*/*.jpg
images/supersized/*.jpg
plugins/content/wookmark_gallery/wookmark_gallery/tmpl/cache/*.*

tmp/*.*

modules/mod_universal_ajaxlivesearch/cache/103/*.js
modules/mod_universal_ajaxlivesearch/cache/103/*.css

images/ajaxsearch/*.png


modules/mod_improved_ajax_login/cache/106/*.css
modules/mod_improved_ajax_login/cache/106/*.png

logs/*

administrator/components/com_akeeba/backup/*.sql

administrator/cache/sh404sef_analytics/*.php

administrator/components/com_sh404sef/security/sh404SEF_AntiFlood_Data.dat

components/com_foxcontact/uploads/*

images/phocagallery/**/cache*.*

cache/plg_jch_optimize/*

cache/plg_jch_optimize/*.php
